.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ========================== Home.js =============================== */

.centrar{
    margin-top: 66px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.item_calendario{ 
    background-color: #81cdff;
    border: solid 1px #282c34;
    color: white;
    padding: 15px 32px;
    width: 20vw;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* ========================== Header.js =============================== */
.color-nav {
    background-color:#81cdff;
    border-bottom: 1px solid #282c34;
}


/* ========================== Login.js =============================== */
.form-header{
    text-align: center;
}

.wrap {
    margin-top: -16px;
    min-height: 91vh;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #fafafa;
    padding: 20px;
}

.form-button{
    background: #81cdff;
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 15px 32px;
    width: 100%;
    height:10%;
    text-transform: uppercase;
    margin-top: 2rem;
}
.login-form{
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    width: 400px;
    height:400px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 15px 32px;
    background: #ffffff;
}
.form-group{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
